<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/style/managerMain.css" />
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>관리자 페이지</title>
  </head>
  <body>
    <!-- nav 상단 고정-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h1>GS24</h1>
        </div>
        <!-- 네비게이션 메뉴 -->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <!-- <button onclick="window.open('invention.html')">재고관리</button > -->
            <li role="presentation"><a href="">홈</a></li>
            <li role="presentation">
              <a href="/managerPage/inventory">재고관리</a>
            </li>
            <li role="presentation">
              <a href="/managerPage/money">매출관리</a>
            </li>
            <li role="presentation">
              <a a href="/managerPage/sales">주문내역</a>
            </li>
            <li role="presentation">
              <a href="/managerPage/cctv">cctv</a>
            </li>
            <li><%=name%>님</li>
            <li role="presentation">
              <a href="/managerPage/logout">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form action="/managerPage/logout"></form>
  </body>
</html>
