<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/style/managerMain.css" />

    <title>관리자 페이지</title>
  </head>
  <body>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- nav 상단 고정-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h1>GS24</h1>
        </div>
        <!-- 네비게이션 메뉴 -->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <!-- <button onclick="window.open('invention.html')">재고관리</button > -->
            <li role="presentation"><a href="#">홈</a></li>
            <li role="presentation"><a href="#">재고관리</a></li>
            <li role="presentation"><a href="#">매출관리</a></li>
            <li role="presentation"><a href="#">주문내역</a></li>
            <li role="presentation">
              <a href="/managerPage/cctv">cctv</a>
            </li>
            <li role="presentation">
              <a href="/managerPage/logout">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <form action="/managerPage/logout">
      <script>
        window.history.forward();
        function noBack() {
          window.history.forward();
        }
      </script>
    </form>
  </body>
</html>
