<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/style/managerMain.css" />
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>관리자 페이지</title>
  </head>
  <body>
    <!-- nav 상단 고정-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h1>GS24</h1>
        </div>
        <!-- 네비게이션 메뉴 -->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <!-- <button onclick="window.open('invention.html')">재고관리</button > -->
            <li role="presentation"><a href="#">홈</a></li>
            <li role="presentation"><button id="test1">재고관리</button></li>
                <li role="presentation"><a href="/managerPage/money">매출관리</a></li>
                <li role="presentation"><button id="test3">주문내역</a></li>
            <li role="presentation">
              <a href="/managerPage/cctv">cctv</a>
            </li>
            <li><%=name%>님</li>
            <li role="presentation">
              <a href="/managerPage/logout">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script
src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"
></script>
<form action="/managerPage/logout">
  <script>
      window.history.forward();
      function noBack() {
          window.history.forward();
      }
  </script>
</form>
<div class="test1">
<table border="1" class="manager_table">
    <tbody class="tbcreate1">
    <tr>
      <th>회사명</th>
      <th>상품명</th>
      <th>원가</th>
      <th>가격</th>
      <th>갯수</th>
    </tr>
    </tbody>
  </table>
</div>
<div class="test2">
    <table border="1">
        <tr>
          
        </tr>
    </table>
</div>
<div class="test3">
    <table border="1" class="manager_table">
        <tbody class="tbcreate2">
        <tr>
          <th>구매 시간</th>
          <th>총 가격</th>
          <th>구매 목록</th>
        </tr>
        </tbody>
      </table>
    </div>
<script>
    $('.test1').hide();
    $('.test2').hide();
    $('.test3').hide();

    $('#test1').on('click', function(){
        $('.test1').show();
        $('.test2').hide();
        $('.test3').hide();
    })
    $('#test2').on('click', function(){
        $('.test1').hide();
        $('.test2').show();
        $('.test3').hide();
    })

    $('#test3').on('click', function(){
        $('.test1').hide();
        $('.test2').hide();
        $('.test3').show();
    })
$(document).ready(function(){
    $.ajax({
        url : "managerPage/inventory",
        type : "post",
        dataType : 'json',
        async : false,
        success : function(results){
            for(var i = 0; i < results.length; i++){
                var insertTr = "";
  
                insertTr += "<tr class='table_data'>";
                insertTr += "<td>" + results[i].company + "</td>";
                insertTr += "<td>" + results[i].product_name +"</td>";
                insertTr += "<td>" + results[i].원가 + "</td>";
                insertTr += "<td>" + results[i].price + "</td>";
                insertTr += "<td>" + results[i].갯수 + "</td>";
                insertTr += "</tr>";

                $(".tbcreate1").append(insertTr);
            }
        },
        error : function(){
            alert("서버요청실패");
        }
    });
});

$(document).ready(function(){
    $.ajax({
        url : "managerPage/sales",
        type : "post",
        dataType : 'json',
        async : false,
        success : function(results){
            for(var i = 0; i < results.length; i++){
                var insertTr = "";
  
                insertTr += "<tr class='table_data'>";
                insertTr += "<td>" + results[i].salesdate + "</td>";
                insertTr += "<td>" + results[i].salesprice +"</td>";
                insertTr += "<td>" + results[i].salesproduct + "</td>";
                insertTr += "</tr>";

                $(".tbcreate2").append(insertTr);
            }
        },
        error : function(){
            alert("서버요청실패");
        }
    });
});
</script>
  </body>
</html>
